# ---- Framework API ----
fastapi
uvicorn[standard]

# ---- Configuración y Validación ----
pydantic
pydantic-settings

# ---- Base de Datos ----
google-cloud-bigquery>=3.10.0

# ---- Cliente HTTP para la API de Bsale ----
requests